## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
population = np.random.random_integers(low = 1000,high = 10000000,size = 10)

C:\ProgramData\Anaconda3\envs\tensorflow_cpu\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1000, 10000000 + 1) instead
  """Entry point for launching an IPython kernel.

In [3]:
print(population)

[5869970 5868891 9119934 9292866 1676016 6468789 5377496 5095878 7207376
 2554733]

In [4]:
country_name =  ['country_1', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10']

In [5]:
print(country_name)

['country_1', 'country_2', 'country_3', 'country_4', 'country_5', 'country_6', 'country_7', 'country_8', 'country_9', 'country_10']

In [6]:
data = {'國家':country_name ,
        '人口':population }
data = pd.DataFrame(data)
data

        人口          國家
0  5869970   country_1
1  5868891   country_2
2  9119934   country_3
3  9292866   country_4
4  1676016   country_5
5  6468789   country_6
6  5377496   country_7
7  5095878   country_8
8  7207376   country_9
9  2554733  country_10